@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

body{
    background: #FFFFFF;
    font-family: Montserrat, sans-serif;
    color: #4887B0;
}

h1 {
    font-family: Roboto, sans-serif;
    color:(103, 75, 202);
    font-size: 30px;
}

p {
    line-height: 1.2;
    color:#211D21;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #008EB4;
    text-decoration: none;
}

h2 {
    color: #008EB4;
    font-size: medium;
}

.card-one {
    background: #FFC017;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}
#img-circle {
    border-radius: 20%;
    width: 200px;
    margin-bottom: 10px;
    border:8px inset #4887B0;
	padding:15px;
}

#btn-black {
    background-color: #008EB4;
    text-decoration: none;
    color: #FFC017;
    border-radius: 4px;
    padding: 15px 10px;
    margin-top: 10px;
    display: inline-block;
}

#btn-black:hover{
    background-color: #015a72;
}

#list-inline {
    list-style: none;
    padding: 0;
}

#list-inline li {
    display: inline;
    padding: 5px;
}

#list-inline i {
    font-size: 30px;
    color: black;
}

@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }
  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }
  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }
